@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 1352px;
}
header {
    width: 100%;
    height: 70px;
    display: flex;
    background: #FFFFFF 0%  no-repeat padding-box;
}
.logo {
    width: 142px;
    height: 37px;
    margin-left: 136px;
    margin-top: 16px;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0;
    color: #08A6E4;
}
.menu_details {
    display: flex;
    margin-left: 668px;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
}
.menu_details li{
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #A5A5A5;
    text-transform: uppercase;
    height: 45px;
}
.menu_details li:hover{
    font: normal normal bold 11px/15px Open Sans;
    color: #000000;
    cursor: pointer;
    border-bottom:  4px solid #08A6E4;;
}
.section1 {
    width: 1627px;
    height: 842px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}
.section1 img {
    position: relative;
}
h1{
    width: 230px;
    height: 60px;
    color: #000000;
    font-size: 49px;
    font-family: 'Raleway', sans-serif;
    margin-top: 130px;
}
.btn_cta{
    width: 440px;
    height: 67px;
    background: #08A6E4 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    margin-top:38px ;
}
.btn_cta a{
    text-decoration: none;
    text-align: center;
    font: normal normal bold 16px/22px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
}
.section1 p{
    width: 384px;
    height: 22px;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0;
    margin-top: 20px;
}
.section2{
    width: 1627px;
    height: 531px;
    background: #FFFFFF 0 no-repeat padding-box;
    box-shadow: 0 -5px 80px #00000029;
    opacity: 1;
}
.section2_header{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    width: 714px;
    height: 42px;
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0;
    color: #000000;
    margin-top: 100px;
}
.section2_columns {
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 100px;
    margin-left: 200px;
}
.section2_column1{
    width: 116px;
    height: 140px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.section2_column2{
    width: 116px;
    height: 140px;;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.section2_column3{
    width: 116px;
    height: 140px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.circle {
    width:63px;
    height: 63px;
    border-radius: 50%;
    background: #FB3B64 0 0 no-repeat padding-box;
}
.circle2{
    width:63px;
    height: 63px;
    border-radius: 50%;
    background: #08A6E4 0 0 no-repeat padding-box;
}
.circle3{
    width:63px;
    height: 63px;
    border-radius: 50%;
    background: #55DFB4 0 0 no-repeat padding-box;
}
.circle_picture{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.circle_picture img{
    position: absolute;
    margin-left: 50px;
}
.section2_column1 img {
    width: 44px;
    height: 52px;
}
.section2_column2 img {
    width: 66px;
    height: 37px;
}
.section2_column3 img {
    width: 52px;
    height: 48px;
}
.numbers {
    width:135px;
    height: 24px;
    text-align: center;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 6px;
    margin-top: 10px;
}
.text{
    width:130px;
    height: 48px;
    text-align: center;
    font: normal normal normal 16px/19px Raleway;
    letter-spacing: 0;
    color: #A5A5A5;
    opacity: 1;
    margin-top: 20px;
}
.section3 {
    width: 1627px;
    height: 1395px;
    background: #F7F7F7 0 0 no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    }
.section3_box1,.section3_box2{
    width: 1124px;
    height: 370px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
    display: flex;
}
.section3_box2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.section3_box1 {
    margin-top: 105px;
}
.section3_box2, .section3_box3 {
    margin-top: 30px;
}
.section3_text1,.section3_text2{
    width: 416px;
    height: 66px;
    text-align: left;
    font: normal normal normal 16px Open Sans;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    word-wrap: anywhere;
}
.section3_h21{
    margin-top: 91px;
    text-align: left;
    margin-left: 36px;
}
.section3_text1{
    margin-left: 35px;
    margin-top: 30px;
}
.section3_text2{
    margin-right: 20px;
    margin-top: 30px;
}
hr{ margin-top: 50px;
}
.section3_box1_box1 hr{
    margin-left: 35px;
}
.section3_h22{
    margin-top: 69px;
    width: 246px;
    height: 84px;
    word-wrap: anywhere;
    text-align: left;
}
.section3_picture img{
    width: 384px;
    height: 214px;
    position: absolute;
    margin-right: 120px;
    margin-top: 120px;
}
.section3_img{
    width:320px;
    height: 320px;
    border-radius: 50%;
    background: #07ACE6 0% 0% no-repeat padding-box;
    opacity: 1;
}
.section3_img2{
    width:255px;
    height: 255px;
    background: #FB3B64 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}
.section3_picture2 img{
    width: 426px;
    height: 328px;
}
.section3_picture{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section3_picture2{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 70px;
}
.section3_picture2 img{
    position: absolute;
    margin-left: 120px;
}
.section3_box3{
    width: 1124px;
    height: 370px;
    display: flex;
    justify-content: space-between;
}
.section3_box3_1{
    width: 623px;
    height: 370px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
}
.section3_box3_2{
    width: 440px;
    height: 370px;
    background: #55DFB4 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}
.section3_h23{
    margin-top: 69px;
    width: 348px;
    height: 84px;
    word-wrap: anywhere;
    text-align: left;
    margin-left: 35px;
}
.section3_box3_2 img{
    width: 295px;
    height: 207px;
    margin-top: 98px;
    margin-right: 72px;
}
.section4 {
    width: 100%;
    height: 716px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.section4_title {
    width: 114px;
    height: 42px;
}
.Pricing_title{
    display: flex;
    justify-content: center;
}
.section4_columns{
    display: flex;
    justify-content: space-between;
}
.column_left{
    width: 372px;
    height: 461px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    opacity: 1;
    margin-left: 180px;
    margin-top: 71px;
}
.column_center{
    width: 405px;
    height: 500px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 27px #07ACE629;
    border: 1px solid #07ACE6;
    border-radius: 18px;
    opacity: 1;
    margin-top: 50px;
}
.column_right{
    width: 372px;
    height: 461px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #55DFB4;
    border-radius: 18px;
    opacity: 1;
    margin-right: 180px;
    margin-top: 71px;
}
.column_left, .column_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px;
    margin-left: 70px;
    position: relative;
}
.title_section4{
    width: 123px;
    height: 24px;
    margin-top: 34px;
    text-align: center;
    font: normal normal bold 20px/1px Raleway;
    letter-spacing: 0px;
    color: #13253B;
    opacity: 1;
}
.price {
    width: 59px;
    height: 64px;
    text-align: center;
    font: normal normal 300 46px/2px Open Sans;
    letter-spacing: 0px;
    color: #FB3B64;
    opacity: 1;
    margin-top: 14px;
}
.column_center .price{
    color: #07ACE6;
}
.column_right .price{
    color: #55DFB4;
}
.checkbox{
 margin-top: 25px;
    height: 19px;
}
checkbox_offer {
    width: 200px;
}
label {
    text-align: center;
    font: normal normal normal 14px/41px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    width: 150px;
    height: 19px;
}
.conditions{
    width: 100px;
    height: 14px;
    text-align: center;
    font: normal normal bold 12px/1px Raleway;
    letter-spacing: 0px;
    color: #13253B;
    opacity: 1;
    margin-top: 5px;
}

.checkbox_offer{
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.begin{
    width: 150px;
    height: 50px;
    background: #EB476E 0 0 no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 13px/41px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.begin a{
    text-align: center;
    font: normal normal bold 13px/41px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-decoration: none;
}
.column_center button{
    width: 165px;
    height: 50px;
    background: #07ACE6 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 23px;
    opacity: 1;
    position: absolute;
    top: 470px;
}
.column_right button{
    background: #55DFB4 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    position: absolute;
    top: 430px;
}
.column_left button{
    position: absolute;
    top: 430px;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox {
    cursor: pointer;
    display: flex;
}
.checkbox span {
    width: 11px;
    height: 11px;
    border: 1px solid #55DFB4;
    border-radius: 2px;
    opacity: 1;
    position: relative;
    top: 15px;
}
label .checkbox{
    position: absolute;
}
.section5 {
    width: 100%;
    height: 590px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section5_left{
    width: 400px;
    height: 300px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
#Title{
    text-align: left;
    font: normal normal normal 49px Raleway;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    width: 350px;
    height: 60px;
}
.section5_left span{
    width: 265px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.mail{
    background: transparent url(../assets/MailIcon.svg) 0 0 no-repeat padding-box;
    opacity: 1;
    width: 40px;
    height: 30px;
}
.call{
    background: transparent url(../assets/PhoneIcon.svg) 0 0 no-repeat padding-box;
    opacity: 1;
    width: 40px;
    height: 30px;
}
.contacts{
    display: flex;
    margin-top: 42px;
}
.contacts span{
    margin-left: 15px;
}
.section5_right{
    width: 300px;
    height: 300px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.name, .email {
    width: 48px;
    height: 15px;
    text-align: left;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #08A6E4;
    opacity: 1;
    text-transform: uppercase;
}
input {
    outline: none;
    border: 1px solid #aaa;
    padding: 10px;
}
input[type=checkbox] {
    display: none;
}
.id-checkbox label {
    color: #B2B2B2;
    display: flex;
    width: 405px;
    height: 108px;
    text-align: left;
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0;
    margin-top: 30px;
}
.id-checkbox label:before {
    content: '';
    display: block;
    min-width: 22px;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    border: #D1D1D1 1px solid;
    border-radius: 8px;
}
input[type=checkbox]:checked + label:before {
    background: url("../assets/Checkmark.svg") no-repeat center;
    background-size: contain;
}
.id-checkbox{
    position: relative;
}
.Send{
    background: #08A6E4 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    opacity: 1;
    width: 226px;
    height: 57px;
    text-align: center;
    font: normal normal bold 13px/18px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-top: 20px;
    position: absolute;
    left: 170px;
}
footer{
    width: 1626px;
    height: 89px;
    background: #F7F7F7 0 0 no-repeat padding-box;
    box-shadow: 0 -5px 40px #00000029;
    opacity: 1;
    display: flex;
}
.logo2{
    width: 115px;
    height: 26px;
    margin-left: 137px;
    margin-top: 20px;
    text-align: left;
    font: normal normal 300 26px/30px Raleway;
    letter-spacing: 0;
    color: #08A6E4;
    opacity: 1;
}
.trade_mark{
    width: 220px;
    height: 20px;
    text-align: left;
    margin-left: 137px;
    font: normal normal normal 11px/15px Open Sans;
    letter-spacing: 0;
    color: #A5A5A5;
    opacity: 1;
    margin-top: 7px;
}
.twitter{
    width: 24px;
    height: 24px;
    background: transparent url("../assets/Twitter.svg") 0 0 no-repeat padding-box;
    opacity: 1;
    margin-top: 35px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: auto;
}
.facebook{
    width: 24px;
    height: 24px;
    background:  url("../assets/Facebook.svg") 0 0 no-repeat padding-box;
    opacity: 1;
    margin-top: 35px;
    margin-bottom: 30px;
    margin-right: 136px;
}
.social_media{
    display:flex;
    width: 200px;
    margin-left: auto;
}
